<%- include("./elements/global") %>
<html>
  <head>
    <%- include('./elements/head') %>
  </head>
  <body>
    <%- include("./elements/header") %>
    <main>
      <div class="main">
        <h2>購入履歴</h2>
        <div class="buy-history">
          <div class="total-price">
            <span class="total-price-prefix">累計金額：</span>
            <span class="total-price-value">￥<%= formatter.format(totalPrice) %></span>
          </div>
          <ul class="history-area">
            <% history.forEach((item) => { %>
              <li class="history-item">
                <div class="history-header">
                  <div class="history-name"><%= item.name %></div>
                  <div class="history-delete" title="削除" data-id="<%= item.id %>">✕</div>
                </div>
                <div class="history-price">
                  <span class="history-price-prefix">価格：</span>
                  <span class="history-price-value">￥<%= formatter.format(item.price) %></span>
                </div>
                <div class="history-quantity">
                  <span class="history-quantity-prefix">購入数：</span>
                  <span class="history-quantity-value"><%= item.quantity %></span>
                </div>
                <div class="history-subtotal">
                  <span class="history-subtotal-prefix">総計：</span>
                  <span class="history-subtotal-value">￥<%= formatter.format(item.quantity * item.price) %></span>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </main>
    <%- include("./elements/footer") %>
    <script src="./js/mypage.js"></script>
  </body>
</html>